<article class="h-entry h-event">
	<div class="e-content p-description">
		<p>
			<time class="dt-published dt-start" datetime="<%= @webmention.created_at.strftime('%Y-%m-%d %H:%M') %>"><%= @webmention.created_at.strftime('At %H:%M on %-d %B %Y') %></time>,
			<%= link_to 'this URL', @webmention.source, rel: 'nofollow', title: @webmention.source %> mentioned <%= link_to 'that URL', @webmention.target, title: @webmention.target %>.
		</p>
		<p>This webmention is <i><%= @webmention.verified ? 'verified' : 'unverified' %></i>.</p>
	</div>

	<footer class="meta">
		<p><%= link_to webmention_url(@webmention.id), webmention_url(@webmention.id), class: 'u-url' %></p>
	</footer>
</article>