<!doctype html>
<html id="webmention-sixtwothree-org" lang="en-US">
<head>
	<meta charset="utf-8">

	<link rel="dns-prefetch" href="//fonts.googleapis.com">

	<title><%= "#{@page_title} — " if @page_title %>Webmentions — sixtwothree.org</title>

	<meta name="description" content="This is the webmention endpoint for sixtwothree.org.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/jgarber.png">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:700|Source+Sans+Pro:400">
	<link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
</head>
<body>

	<div class="layout-container">
		<main class="global-content" role="main">
			<%= yield %>
		</main>

		<footer class="global-footer" role="contentinfo">
			<div class="back-link">
				<p class="layout-container"><%= link_to '← Back to sixtwothree.org', 'http://sixtwothree.org' %></p>
			</div>
			<p class="license">Some rights reserved. This site’s content is licensed under a <%= link_to 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 license', 'http://creativecommons.org/licenses/by-nc-sa/3.0/', rel: 'license' %>.</p>
		</footer>
	</div>

</body>
</html>